<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		
		<title>Eat-Da-Burger</title>
		
		{{!-- CSS --}}
		<link rel="stylesheet" href="/assets/dist/semantic.min.css" />
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
		{{!-- Javascript --}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/assets/dist/semantic.min.js"></script>
		<script type="text/javascript" src="/assets/js/burger.js"></script>
	</head>
	<body>
		<section class="ui text container color">
			{{{ body }}}
		</section>
	</body>
</html>
