<div class="item inverted">
    <div class="right floated content">
        <button class="ui orange right small button clean-buttons" data-burger-id="{{burger_id}}">Clean Up!</button>
    </div>
    <div class="content">
        {{burger_name}} has been eaten.
    </div>
</div>