<div class="item">
    <div class="right floated content">
        <button class="ui red right small button burger-buttons" data-burger-id="{{burger_id}}">Devour It!</button>
    </div>
    <div class="content">
        {{burger_name}}
    </div>    
</div>